<!-- classe tem relacao com css -->
<!-- action eh a url para onde sera enviado esse formulario -->
<form class="" action="/formNovo" method="post">
  <input type="text" name="nome" placeholder="Nome" value="{{nome}}">
  <br>
  <br>
  <input type="text" name="email" placeholder="E-mail" value="{{email}}">
  <br>
  <br>
  <input type="tel" name="telefone" placeholder="Telefone"  value="{{telefone}}">
  <br>
  <br>
  <input type="date" name="data" placeholder="Data de nascimento"  value="{{data}}">
  <br>
  <br>
  <input type="text" name="valor" placeholder="Valor mensalidade"  value="{{valor}}">
  <br>
  <br>
  Ativo? <input type="checkbox" name="ativo" placeholder="Ativo?"  value="{{ativo}}">
  <br>
  <br>
  <input type="text" name="logTimestamp" placeholder="Última atualização"  value="{{logTimestamp}}">
  <br>
  <br>
  <button>Enviar</button>
</form>
