
<a href="formNovo">Novo registro</a>
<br>
<br>
<p> >>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< </p>
<table border="1">
  <!-- coluna topo -->
  <tr>
    <!-- String -->
    <td><p>NOME</p></td>
    <!-- String -->
    <td><p>EMAIL</p></td>
    <!-- String -->
    <td><p>TELEFONE</p></td>
    <!-- date -->
    <td><p>DATA NASC</p></td>
    <!-- Double -->
    <td><p>VLR</p></td>
    <!-- Boolean -->
    <td><p>ATIVO?</p></td>
    <!-- Timestamp -->
    <td><p>ULT ATUAL.</p></td>
    <!-- Binary data -->
    <!-- Code -->
    <!-- Regular expression -->
    <!-- deleção -->
    <td><p>DELEÇÃO</p></td>
    <!-- Atualização -->
    <td><p>ATUALIZAÇÃO</p></td>
  </tr>
  {{#each teste}}
  <tr>
    <td><p>{{nome}}</p></td>
    <td><p>{{email}}</p></td>
    <td><p>{{telefone}}</p></td>
    <td><p>{{data}}</p></td>
    <td><p>{{valor}}</p></td>
    <td><p>{{ativo}}</p></td>
    <td><p>{{ultatu}}</p></td>
    <!-- <td><p>{{??}}</p></td> -->
    <td><p><a href="/del/{{_id}}">
      <button type="button" name="deletar">Deletar</button>
    </a></p></td>
    <td><p><a href="/{{_id}}">
      <button type="button" name="atualizar">Atualizar</button>
    </a></p></td>
  </tr>
  {{/each}}
</table>
